.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background: none !important;
}

.c-input {
    text-align: left;
    margin-bottom: 8px;

    mat-form-field {
        .mat-mdc-text-field-wrapper {
            padding: 0 !important;
            height: 30px !important;
            border: none !important;
        }
    }

    p {
        color: #1e86b1;
        font-weight: 500;
        font-size: 12px;
    }

    input {
        padding-left: 7px !important;
        font-size: 12.5px !important;
        height: 30px !important;
        font-weight: 500 !important;
    }
}

.mat-focused {
    height: 30px !important;
}

.mat-mdc-form-field-infix {
    padding: 0 !important;
}

.mdc-text-field--outlined .mat-mdc-form-field-infix,
.mdc-text-field--no-label .mat-mdc-form-field-infix {
    font-size: 12px !important;
}

.mat-mdc-form-field {
    width: 200px !important;
    height: 30px !important;
    padding: 0 !important;
}

.mdc-text-field--outlined:hover .mdc-notched-outline__leading,
.mdc-text-field--outlined:hover .mdc-notched-outline__trailing {
    border-color: rgba(0, 0, 0, 0.87) !important;
}

.mdc-text-field--outlined:hover .mdc-notched-outline__leading,
.mdc-text-field--outlined:hover .mdc-notched-outline__trailing {
    border-color: #9ea7ad !important;
}

.mat-mdc-paginator-page-size-label {
    display: none !important;
}

.mat-mdc-paginator-page-size {
    width: 70px;
}

.mat-mdc-paginator-page-size {
    .mat-mdc-select-arrow-wrapper {
        padding-top: 5px !important;
    }
}

.mat-mdc-select-arrow-wrapper {
    padding-top: 0px !important;
    padding-right: 10px !important;
}


.mat-mdc-paginator .mat-mdc-select-value {
    font-size: 15px !important;
    margin-top: 7px !important;
}

.mat-mdc-paginator {
    border-top: 2px solid rgba(39, 170, 225, 0.2);
    margin-top: 10px;
    color: #231F20;

    .mat-mdc-paginator-range-label {
        font-size: 12px;
        font-weight: 600;
        margin: 0;
    }

    .mat-mdc-icon-button {
        color: #27AAE1;
    }
}

.mat-mdc-paginator-range-actions {
    padding-top: 8px;
}

.mat-mdc-select {
    padding-left: 7px;
    padding-top: 3px;
    font-size: 12.5px;
    font-weight: 500;
}

.mat-mdc-paginator .mat-mdc-select {
    padding-left: 0px !important;
    width: 45px !important;
}

.mat-mdc-dialog-surface {
    border-radius: 10px !important;
    // padding: 10px 15px 10px 15px;
    padding: 15px;
}

.mat-mdc-select-value-text {
    font-size: 12.5;
    font-weight: 500;
}

// MOVIL DESIGN
@media screen and (max-width: 500px) {
    .mat-mdc-paginator-container {
        padding: 10px 0 0 0 !important;
        justify-content: space-around !important;
    }

    .mat-mdc-paginator-range-actions {
        height: 36px !important;
    }
}