.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background: none !important;
}

.c-input {
    text-align: left;
    margin-bottom: 5px;

    mat-form-field {
        .mat-mdc-text-field-wrapper {
            padding: 0 !important;
            height: 30px !important;
            border: none !important;
        }
    }

    p {
        color: #1e86b1;
        font-weight: 500;
        font-size: 14px;
    }

    input {
        padding-left: 7px !important;
        font-size: 12.5px !important;
        height: 30px !important;
        letter-spacing: 1px !important;
    }
}

.mat-mdc-form-field-error {
    font-size: 11px !important;
    font-family: "Poppins", sans-serif !important;
}

.mat-mdc-form-field-flex {
    height: 30px !important;
}

.mat-focused {
    height: 30px !important;
}

.mat-mdc-form-field-infix {
    padding: 0 !important;
}

.mdc-text-field--outlined .mat-mdc-form-field-infix,
.mdc-text-field--no-label .mat-mdc-form-field-infix {
    font-size: 12px !important;
    // height: 5px!important;
    min-height: unset !important;
}

.mat-mdc-form-field {
    width: 200px !important;
    height: 30px !important;
    padding: 0 !important;
}

.mdc-text-field--outlined:hover .mdc-notched-outline__leading,
.mdc-text-field--outlined:hover .mdc-notched-outline__trailing {
    border-color: rgba(0, 0, 0, 0.87) !important;
}

.mdc-text-field--outlined:hover .mdc-notched-outline__leading,
.mdc-text-field--outlined:hover .mdc-notched-outline__trailing {
    border-color: #9ea7ad !important;
}

.mat-mdc-paginator-page-size-label {
    display: none !important;
}

.mat-mdc-paginator-page-size {
    width: 70px;
}

.mat-mdc-paginator-page-size {
    .mat-mdc-select-arrow-wrapper {
        // padding-top: 5px !important;
    }
}

.mat-mdc-select-arrow-wrapper {
    padding-top: 0px !important;
    padding-right: 10px !important;
}


.mat-mdc-paginator .mat-mdc-select-value {
    font-size: 15px !important;
    margin-top: 0px !important;

    .mat-mdc-paginator-page-size .mat-mdc-select-arrow-wrapper {
        padding-bottom: 8px !important;
    }
}

.mat-mdc-paginator {
    border-top: 2px solid rgba(39, 170, 225, 0.2);
    margin-top: 10px;
    color: #231F20;

    .mat-mdc-paginator-range-label {
        font-size: 12px;
        font-weight: 600;
        margin: 0;
    }

    .mat-mdc-icon-button {
        color: #27AAE1;
    }
}

.mat-mdc-select {
    padding-left: 7px;
    padding-top: 3px;
    font-size: 12.5px;
    font-weight: 500;
}

.mat-mdc-paginator .mat-mdc-select {
    padding-left: 0px !important;
    width: 45px !important;
    display: flex;
}

.mat-mdc-dialog-surface {
    border-radius: 10px !important;
    padding: 15px;
}

.mat-mdc-select-value-text {
    font-size: 12.5;
    font-weight: 500;
}

.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
    // background: var(--color-primary)!important;
}

.mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
    width: 40px !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

// MOVIL DESIGN
@media screen and (max-width: 500px) {
    .mat-mdc-paginator-container {
        padding: 10px 0 0 0 !important;
        justify-content: space-around !important;
    }

    .mat-mdc-paginator-range-actions {
        height: 36px !important;
    }
}