<header class="c-module-header">
  <div>
    <h2 class="color-secundary">
      {{ title }}
    </h2>
  </div>

  <div class="section-btns-module-header">
    <button *ngIf="showUploadXml" mat-stroked-button
      class="radius border-[#1e86b1] text-[#1e86b1] hover:bg-[#1e86b1]/10 transition-all" (click)="download.emit()">
      <mat-icon>file_upload</mat-icon>
      Cargar XML
    </button>

    <button *ngIf="showNew" mat-flat-button class=" radius bg-[#1e86b1] text-white hover:bg-[#167195] transition-all"
      (click)="uploadXml.emit()">
      <mat-icon>add</mat-icon>
      Nuevo
    </button>
  </div>
</header>