.c-module-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  >div {
    display: flex;
    align-items: center;
    gap: 15px;

    >div {
      background-color: rgba(30, 134, 177, 0.1);
      color: var(--color-primary-two);
      padding: 0.5rem;
      border-radius: 0.75rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    h2 {
      font-size: 35px;
      font-weight: 500;
      letter-spacing: 2px;
      border-left: 3px solid var(--primary-color);
      padding-left: 10px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }


    button {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 3px 8px;
      font-size: 15px;
    }
  }
}

.c-modal {
  font-size: 25px !important;
  letter-spacing: 0 !important;
  font-weight: 600 !important;
  border-left: unset !important;
  color: var(--color-third)!important;
}

@media screen and (max-width: 500px) {
  .c-module-header {
    flex-wrap: wrap;
  }

  .section-btns-module-header {
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
    width: 100%;
  }
}