.c-input-field {
    position: relative;
    height: 65px !important;
    margin-bottom: 15px;

    button {
        mat-icon {
            margin-right: 13px;
        }
    }

    .phone-prefix {
        color: var(--color-third); // mismo azul del proyecto
        font-weight: 500;
        font-size: 13px;
        margin-left: 8px;
    }

}