<div class="c-modal">
    <app-module-header [title]="this.data?.id ? 'Editar Gasto' : 'Registrar Gasto'" [config]="headerConfig"
        (action)="closeModal()">
    </app-module-header>

    <form [formGroup]="form" (ngSubmit)="data?.id ? updateData() :  saveData()" id="form" class="c-form">

        <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-5">
            <div class="md:col-span-2">
                <div class="c-input">
                    <p class="label">Concepto <span class="required">*</span></p>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput placeholder="Ej. Compra de materiales" formControlName="concept" />
                        @if (form.get('concept')?.touched || form.get('concept')?.invalid) {
                        <mat-error>Este campo es obligatorio</mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>

            <div class="md:col-span-1">
                <div class="c-input">
                    <p class="label">Fecha <span class="required">*</span></p>
                    <mat-form-field appearance="outline" class="w-100">
                        <input formControlName="date" placeholder="Seleccionar fecha" matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>

                        @if (form.get('date')?.touched || form.get('date')?.invalid) {
                        <mat-error>Este campo es obligatorio</mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>

            <div class="md:col-span-1">
                <div class="c-input">
                    <app-input-field 
                        formControlName="amount" 
                        label="Monto" 
                        placeholder="0.00" 
                        type="money"
                        [showError]="(form.get('amount')?.touched || form.get('amount')?.invalid) ?? false">
                    </app-input-field>
                </div>
            </div>

            <div class="md:col-span-1">
                <app-autocomplete
                    formControlName="supplier_id" 
                    label="Proveedor" 
                    [remote]="true" 
                    catalogType="supplier"
                    [initialDisplay]="data?.supplier?.company_name ?? ''">
                </app-autocomplete>
            </div>

            <div class="md:col-span-1">
                <div class="c-input">
                    <app-autocomplete 
                        formControlName="project_id" 
                        label="Proyecto" 
                        [remote]="true"
                        catalogType="project" 
                        [initialDisplay]="data?.project?.name ?? ''">
                    </app-autocomplete>
                </div>
            </div>
        </div>
    </form>

    <div class="c-modal-actions">
        <button mat-stroked-button type="button" (click)="closeModal()" class="btn-cancel">
            Cancelar
        </button>

        <button [ngClass]="{'not-cursor-pointer': !form.valid}" mat-flat-button type="submit" form="form"
            class="btn-primary">
            Guardar
        </button>
    </div>
</div>