.c-autocomplete {
    position: relative;
    // margin-bottom: 23px;
    .field-error {
        bottom: 5px;
    }

    .c-input {
        margin-bottom: 0!important;
        p {
        }

        mat-icon {
            color: rgba(0, 0, 0, 0.54)!important;
        }
    }
}

.c-autocomplete {
  .label {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .autocomplete-info-icon {
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
  }
}