.c-autocomplete {
    position: relative;

    .field-error {
        bottom: 5px;
    }

    .c-input {
        p {
            margin-bottom: 5px;
        }

        mat-icon {
            color: rgba(0, 0, 0, 0.54)!important;
        }
    }
}