.c-autocomplete {
    position: relative;

    .c-input {
        p {

            color: #374151;
            margin-bottom: 5px;
        }

        mat-icon {
            color: rgba(0, 0, 0, 0.54)!important;
        }
    }

    span {
        position: absolute;
        bottom: 5px;
        color: #f44336;
        font-size: 0.75rem;
        line-height: 1.5;
        margin: 3px 0 0 0;
        padding-left: 0.25rem;
        display: block;
        animation: fieldErrorIn 250ms ease-out;
        padding: 0 16px;
    }

    @keyframes fieldErrorIn {
        from {
            opacity: 0;
            transform: translateY(-2px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}