<div class="c-modal">
  <app-module-header
    [title]="'Conceptos del gasto'"
    [config]="headerConfig"
    (action)="closeModal()">
  </app-module-header>

  @if (items?.length) {
    <div class="c-module-table">
      <!-- Tabla recibe SOLO la página actual -->
      <app-data-table
        [data]="paginatedItems"
        [columnsConfig]="columnsConfig"
        [displayedColumns]="displayedColumns">
      </app-data-table>

      <!-- Paginador 100% local -->
      <mat-paginator
        [length]="items.length"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)"
        showFirstLastButtons>
      </mat-paginator>
    </div>
  }
</div>
