.c-input-date {
    position: relative;
    // height: 65px!important;
    // margin-bottom: 15px;

    .c-input {
        margin: 0;
    }

    button {
        mat-icon {
            margin-right: 13px;
        }
    }
}