@if (type == 'save') {
<div class="c-modal-actions">
    <button
        mat-stroked-button
        type="button"
        (click)="action.emit('cancel')"
        class="btn-cancel"
        [disabled]="cancelDisabled">
        {{ cancelLabel }}
    </button>

    <button
        mat-flat-button
        type="submit"
        (click)="action.emit('save')"
        [attr.form]="form"
        class="btn-primary"
        [disabled]="saveDisabled"
        [ngClass]="{
            'btn-danger': saveVariant === 'danger',
            'not-cursor-pointer': saveDisabled
        }">
        {{ saveLabel }}
    </button>
</div>

} @else if(type == 'search') {
<div class="btns-action-filters">
    <button
        type="button"
        class="btn-primary"
        (click)="action.emit('search')"
        [disabled]="hasActiveSearch ? !hasActiveSearch : null">
        <mat-icon>search</mat-icon>
    </button>

    @if (searchDisabled) {
        <button
            type="button"
            class="btn-outline"
            (click)="action.emit('clean')"
            [disabled]="!hasActiveFilters">
            Limpiar
        </button>
    }
</div>

} @else if(type == 'continue'){
<div class="c-modal-actions">
    <button
        mat-stroked-button
        type="button"
        (click)="action.emit('cancel')"
        class="btn-cancel "
        [disabled]="cancelDisabled">
        {{ cancelLabel }}
    </button>

    <button
        mat-flat-button
        type="button"
        (click)="action.emit('continue')"
        class="btn-primary"
        [disabled]="continueDisabled"
        [ngClass]="{
            'btn-danger': continueVariant === 'danger',
            'not-cursor-pointer': continueDisabled
        }">
        {{ continueLabel }}
    </button>
</div>
}