<aside class="c-sidebar h-screen text-white flex flex-col w-16 hover:w-60 transition-all duration-300 shadow-lg relative group">

  <div class="c-sidebar-header border-bottom-gray flex items-center justify-start p-4 gap-2">
    <mat-icon class="color-secundary">business</mat-icon>
    <span
      class="color-primary opacity-0 group-hover:opacity-100 transition-opacity duration-300 whitespace-nowrap">
      MUDECPLAY
    </span>
  </div>

  <nav class="flex-1 mt-4">
    <a *ngFor="let item of menuItems"
      class="flex items-center gap-4 px-4 py-3 hover:bg-gray-800 transition-colors duration-100 c-card-menu">
      <mat-icon class="color-primary">{{item.icon}}</mat-icon>

      <span class="opacity-0 group-hover:opacity-100 transition-opacity duration-300 whitespace-nowrap">
        {{item.name}}
      </span>

    </a>
  </nav>

  <div class="radius-10 flex items-center gap-4 px-4 py-3 hover:bg-gray-800 transition-colors duration-100 c-card-menu border-top-gray p-10 c-card-menu">
    <mat-icon class="cursor-pointer color-primary ">logout</mat-icon>
     <span class="color-secundary opacity-0 group-hover:opacity-100 transition-opacity duration-300 whitespace-nowrap">
        Salir
      </span>
  </div>
</aside>