<div class="c-autocomplete-multiple">
  <div class="c-input">

    @if (selectedIds.length) {
    <button (click)="clearAll($event)" type="button" mat-icon-button matSuffix>
      <mat-icon>close</mat-icon>
    </button>
    }

    <p class="label">{{ label }}</p>

    <mat-form-field appearance="outline" class="w-100" [ngClass]="{ 
        'field-invalid': hasError }">
      @if (!selectedIds.length) {
      <h1 ngif>Todos</h1>
      }
      

      <mat-select [ngClass]="{ 'padding-selection' : selectedIds.length  }" [multiple]="true" [disabled]="disabled"
        [value]="selectedIds" [compareWith]="compareById" (openedChange)="onOpenedChange($event)"
        (selectionChange)="onSelectionChange($event)">

        <!-- Buscador dentro del panel -->
        <div class="search-box" (click)="$event.stopPropagation()">
          <div class="c-input">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput [placeholder]="searchPlaceholder" (input)="onSearch($event.target.value)" />
            </mat-form-field>
          </div>
        </div>

        <!-- Opciones -->
        @for (item of filteredOptions; track item.id) {
        <mat-option [value]="item.id">
          {{ item.name }}
        </mat-option>
        }

        @if (!filteredOptions.length) {
        <mat-option disabled>Sin resultados</mat-option>
        }
      </mat-select>

      @if (hasError) {
      <span class="field-error">{{ firstErrorMessage }}</span>
      }
    </mat-form-field>
  </div>
</div>