.c-autocomplete-multiple {}

.search-box {
    width: 100%;
    display: flex;
    justify-content: center;

    .c-input {
        width: 100%;
        display: flex;
        justify-content: center;

        .field-error {
            font-size: 11px;
            color: #f44336;
            margin-top: 4px;
            display: block;
        }
    }

    .mat-mdc-form-field {
        width: 90% !important;
    }
}

.mat-mdc-option .mdc-list-item__primary-text {
    font-size: 14px !important;
    line-height: 18px !important;
}