@import url('./app/styles/material.scss');

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
}


body {
  color-scheme: light;
  margin: 0;
}

.color-primary-input {
  color: #1e86b1;
}

.color-primary {
  color: #27AAE1;
}

.color-secundary {
  color: #231F20;
}

.radius-10 {
  border-radius: 10px;
}

.border-bottom-gray {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.border-top-gray {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.p-10 {
  padding: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.w-100 {
  width: 100% !important;
}


.radius {
  border-radius: 7px;
}

.card-content {
  background: white;
  min-height: 155px;
  width: 100%;
  padding: 10px 15px 15px 15px;
  border-radius: 10px;
}

.c-filters {
  border-top: 2px solid rgba(39, 170, 225, 0.2);
  padding: 5px 0;
  margin-top: 15px;
}

.c-filters {
  // @apply border-t border-[rgba(39, 170, 225, 0.2)] pt-3 mt-4;
}

.c-input {
  // @apply flex flex-col;
}



@media screen and (max-width: 875px) {
  .section-btns-module-header {
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-top: 10px;
  }

  .c-sidebar {
        position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    background: white;
  }

}