@import url('./app/styles/material.scss');

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
}


body {
  color-scheme: light;
  margin: 0;
}

.color-primary-input {
  color: #1e86b1;
}

.color-primary {
  color: #27AAE1;
}

.color-secundary {
  color: #231F20;
}

.radius-10 {
  border-radius: 10px;
}

.border-bottom-gray {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.border-top-gray {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.p-10 {
  padding: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.cursor-pointer {
  cursor: pointer;
}
